repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    entry: uv run ruff check --fix
    language: system
    types: [python]
    require_serial: true
    files: ^(custom_components|tests)/.+\.py$
- repo: local
  hooks:
  - id: ty
    name: ty
    entry: uv run ty check
    language: system
    types: [python]
    require_serial: true
    files: ^(custom_components|tests)/.+\.pyi?$
